/* Види селекторів */

/* Універсальний селектор */
* {}

/* Селектор елемент */
body {
    color: #3f51b5;
    color: rgb(63, 81, 191, 0.4);
    color: rgb(256, green, blue);
    color: rgb(red, green, blue);


    font-size: 14px;

}

div {}

ul {}

img {}

table {}


header {
    color: #454545;
    border-bottom: 2px solid #000;
}

header .header_left_block {
    width: 10%;
}

header .header_left_block img {
    width: 100%;
    height: auto;
}

header ul {
    list-style-type: none;
}

header ul li {
    font-size: 16px;
}

/* Селектор класу */
.abzat_2 {
    color: coral;
    font-size: 18px;
}

.header_class {}

.faq_block_one .title {}


/* Селектор ідентифікатора */
#abzat_3 {}

#web_header {}

/* Селектор дочірній */
#web_header .header_left_block img {}

.header_class .header_left_block img {}

header div img {}

div img {
    width: 100%;
    height: auto;
}

#web_header div img {}

.header_left_block img {
    height: 150px;
    width: 150px;
}


/*Сестринський селектор*/
.faq_block_one .title.active+ul {
    color: darkred;
    font-size: 19px;
}

.faq_block_one .title.active+ul li {}

.faq_block_one .title.active~ul {}


/*Селектор псевдокласу*/
.faq_block_one .title {
    color: aqua;
    font-size: 22px;
}

.faq_block_one .title:hover {
    color: darkcyan;
}

.faq_block_one .title a:hover {
    color: darkblue;
}

:focus {}

:active {}

:checked {}

.faq_block_one .title:not(.not_class) {
    color: forestgreen;
    font-size: 38px;
}


/*Селектор структурних псевдокласів*/
.faq_block .faq_block_one:first-child {}

.faq_block .faq_block_one:last-child {}


.faq_block .faq_block_one:nth-child(1) {}

.faq_block .faq_block_one:nth-child(2) {}


.faq_block .faq_block_one:nth-child(2n) {
    color: darkgoldenrod;
    font-size: 56px;
}

.faq_block .faq_block_one:nth-child(2n+1) {
    color: gold;
    font-size: 70px;
}

#faq_id .faq_block_one {
    font-size: 35px;
}

#faq_id .faq_block_one {
    color: palegreen;
}

.faq_block .faq_block_one {
    color: bisque;
}


.faq_block .faq_block_one:nth-child(n+2) {}

.faq_block .faq_block_one:nth-child(n+3) {}

.faq_block .faq_block_one:nth-child(odd) {}

.faq_block .faq_block_one:nth-child(even) {}


/*Селектор псевдоелемента*/
:after {}

:before {}


/*групування стилів*/
.abzat_2,
#abzat_3,
.faq_block {
    font-size: 17px;
    color: #3f51b5;
}

.lessons6 .abzat_2 {
    background-color: #cddc39;
}




.main_p .our_custom_p {
    background-color: chartreuse;
}

.our_custom_p {
    background-color: #cddc39;
    font-size: 18px;
}

.les8 .our_custom_p {
    background-color: dodgerblue;
}

.les9 .our {
    background-color: deeppink;
}

.lessons8 {}

/* Одиниці виміру */
.lessons8 .abs_sizes {
    color: #000;
}

.lessons8 .abs_sizes .px {
    font-size: 58px;
}

.lessons8 .abs_sizes .cm {
    font-size: 3cm;
}

.lessons8 .abs_sizes .in {
    font-size: 4.5in;
}

.lessons8 .abs_sizes .pt {
    font-size: 8pt;
}

.lessons8 .abs_sizes .pc {
    font-size: 3pc;
}


.lessons8 .rem {
    /*font-size: 12-14px*/
    font-size: 5rem;
}

.lessons8 .precent {
    font-size: 150%;
}

.lessons8 .vh {
    font-size: 10vh;
    /*1920*1080 100vh=1080 */
}

.lessons8 .wh {
    font-size: 10vw;
    /*1920*1080 100vw=1920 */
}

.lessons8 .em_block {
    font-size: 23px;
}

.lessons8 .em {
    font-size: 10em;
}

/* Одиниці виміру */


/*шрифт*/
.lessons8 {
    color: crimson;
}

.lessons8 .fonts {
    color: darkgreen;
}

.lessons8 .fonts .desc {
    color: red;
}

.lessons8 .fonts h3 {
    font-size: 22px;
    color: #000;
}

.lessons8 .fonts h3.first {
    font-family: 'Courier New', monospace;
    font-style: italic;
    font-weight: 600;
}

.lessons8 .fonts h3.second {
    font-family: 'Brush Script MT', cursive;
    color: #3f51b5;
}

.lessons8 .fonts h3.third {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-style: italic;
}

.lessons8 .fonts h3.four {
    font-family: 'Zen Kaku Gothic Antique';
}

.lessons8 .fonts h3.five {
    font-family: 'Zen Kaku Gothic Antique bold';
}


/*********lessons10*********/

.lessons10 {
    color: crimson;
}

.lessons10.fonts {
    color: darkgreen;
}

.lessons10 .fonts .desc {
    color: red;
}

.lessons10 .fonts h3 {
    font-size: 22px;
    color: #000;
}

.lessons10 .fonts h3.first {
    font-family: 'Courier New', monospace;
    font-style: italic;
    font-weight: 600;
}

.lessons10 .fonts h3.second {
    font-family: 'Brush Script MT', cursive;
    color: #3f51b5;
}

.lessons10 .fonts h3.third {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-style: italic;
}

.lessons10 .fonts h3.four {
    font-family: 'Zen Kaku Gothic Antique';
}

.lessons10 .fonts h3.five {
    font-family: 'Zen Kaku Gothic Antique bold';
}

/*
1. Сімейство шрифтів:  font-family
2. Насиченість шрифту:  font-weight
3. Ширина шрифту:  font-stretch
4. Зображення шрифту:  font-style
5. Розмір шрифту:  font-size
6. Відносний розмір шрифту:  font-size-adjust
7. Скорочений запис властивостей шрифту:  font
8. Управління синтезом шрифтів:  font-synthesis
*/

.lessons10 .block_6_title {
    font-stretch: unset;
    font-size-adjust: inherit;
    font-synthesis: none;
}

/*
1. Перетворення тексту: властивості text-transform
2. Обробка прогалин та перенесення рядків: властивість white-space
3. Налаштування табуляції: властивість tab-size
4. Розрив рядка та межі слів
4.1. Правила розриву для літер: властивість word-break
4.2. Розрив рядка: властивість line-break
4.3. Розміщення переносів: властивість hyphens
4.4. Переповнення блоку-обертки: властивість overflow-wrap/word-wrap
5. Вирівнювання та виключення рядків
5.1. Вирівнювання тексту: властивість text-align
5.2. Вирівнювання тексту за промовчанням: властивість text-align-all
5.3. Вирівнювання останнього рядка: властивість text-align-last
6. Проміжки
6.1. Проміжки між словами: властивість word-spacing
6.2. Трекінг: властивість letter-spacing
7. Відступ першого рядка: властивість text-indent
*/

.lessons10 .parent_desc_block {
    display: block;
    width: 100%;
    float: right;
}

.lessons10 .block_desc:not(.litle) {
    color: #000;
    text-transform: capitalize;
    color: #454545;
    /* white-space: nowrap; */
    tab-size: 50px;
    border-bottom: 2px solid #000;
    line-break: anywhere;
    width: 70%;
    float: right;
}

.lessons10 .block_desc p {
    text-indent: 34px;
}

.lessons10 .block_desc.litle {
    width: 150px;
    white-space: nowrap;
    overflow: visible;
    word-break: break-all;
    text-transform: uppercase;
    margin-top: 50px;
    text-align: center;
    background-color: #673ab7;
    color: #fff;
    padding: 15px 40px;
    border-radius: 4px;
    font-family: 'Open Sans';
    font-size: 16px;
    letter-spacing: 1.8px;
}

.lessons10 .litle_text {
    margin-top: 50px;
    display: block;
    width: 100%;
    float: left;
    overflow-wrap: anywhere;
    text-align: center;
    word-spacing: 12px;
}

/* border*/
/*
1. Закруглення кутів за допомогою border-radius
2. Рамки-зображенняborder-image
2.1. Ширина рамки-зображення border-image-width
2.2. Ресурс рамки-зображення border-image-source
2.3. Елементи рамки-зображення border-image-slice
2.4. Повторення рамки-зображення border-image-repeat
2.5. Усунення рамки-зображення border-image-outset
3. Градієнтна рамка

*/


.lessons10 .litle_text.element_1 {
    border-color: #000;
    border-style: solid;
    border-width: 7px;
    /* border: 5px solid #000; */
    color: #3f51b5;
    font-weight: 600;
    font-size: 17px;
    word-spacing: inherit;
    border-radius: 15px;
}

.lessons10 .figure {
    display: block;
    width: 100%;
    float: left;
    position: relative;
    margin-top: 50px;
}

.lessons10 .round {
    background: #2196f3;
    color: #fff;
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

.lessons10 .sqd {
    width: 150px;
    height: 150px;
    background: aqua;
}

.lessons10 .litle_text.element_2 {}

.lessons10 .litle_text.element_3 {}

.lessons10 .litle_text.element_4 {}

/***************lessons12****************/
.lessons12 {}

.lessons12 .list {
    color: #3f51b5;
    font-size: 22px;
    font-weight: 600;
    list-style: none;
}

/* list-style-type:circle; */
/* list-style-type:square; */
/* list-style-type:decimal; */
/* list-style-type:lower-roman; */
/* list-style-type:upper-roman; */
/* list-style-type:lower-alpha; */
/* list-style-type:upper-alpha; */
/* list-style-type:lower-greek; */

/* list-style-image: url("../images/icon.png"); */

.lessons12 .list li.active {
    text-decoration: underline;
}

/*background*/
/*
1. Базовий колір: властивість background-color



initial	Встановлює значення властивості значення за замовчуванням.
inherit	Наслідує значення властивості від батьківського елемента.

transparent - прозорий
none - не задаэться парметр



1. Лінійний градієнт:linear-gradient()
2. Радіальний градієнт:radial-gradient()
3. Повторення градієнта: repeating-linear-gradient()іrepeating-radial-gradient()

*/

.lessons12 .background_block_text {
    background-color: #00bcd4;
    width: 500px;
    height: 300px;
    background: blueviolet;
    color: #fff;
    text-align: center;
    display: block;
    font-size: 25px;
    line-height: 300px;
    overflow: hidden;
    background-color: #00bcd4;
    background: linear-gradient(180deg, #2d5dff, #f8ff2c);
    background: linear-gradient(to top left, #2d5dff, #f8ff2c);
    background: linear-gradient(180deg, #2d5dff 0%, #f8ff2c 143%);
    background: radial-gradient(#ebcd14 11%, #0d8cf1 30%);
    background: radial-gradient(#ebcd14 11%, #0d8cf1 30%);
    background: radial-gradient(circle at 83% 14%, #ebcd14 11%, #0d8cf1 30%);
    background: radial-gradient(farthest-side ellipse at top left, #ebcd14 11%, #0d8cf1 30%);
}

.lessons12 .background_block_text_2 {
    background-color: #00bcd4;
    width: 500px;
    height: 300px;
    background: blueviolet;
    color: hsl(0deg 0% 0%);
    text-align: center;
    display: block;
    font-size: 20px;
    line-height: 300px;
    background-position: -20px -20px;
    background: radial-gradient(transparent, transparent 4px, #3f51b5 4px, #ffeb3b);
    background-size: 20px 20px;
    font-weight: 600;
    background: repeating-linear-gradient(45deg, #606dbc, #606dbc 10px, #465298 10px, #465298 20px);
    background: repeating-radial-gradient(circle, #B9ECFE, #B9ECFE 10px, #82DDFF 10px, #82DDFF 20px);
}

/*
2. Джерело зображення: властивість background-image

3. Укладання зображень: властивість background-repeat
repeat-x	Зображення повторюється горизонтально. Обчислюється у repeat no-repeat.
repeat-y	Зображення повторюється у вертикальному напрямку. Обчислюється у no-repeat repeat.
repeat	Зображення повторюється в обох напрямках так часто, щоб покрити область фону. Якщо зображення не міститься, воно обрізається. Обчислюється у repeat repeat. Значення за замовчуванням.
space	Зображення повторюється стільки разів, скільки воно міститься в області фону, не обрізаючись, зображення розташовані на рівній відстані один від одного. Перше та останнє зображення стосуються країв області. Якщо область малювання фону більша, ніж область позиціонування фону, шаблон повторюється, щоб заповнити область малювання фону. Якщо недостатньо місця для двох копій зображення, то розміщується лише одне зображення, а властивість background-positionвизначає його положення. Обчислюється у space space.
round	Зображення повторюється так часто, щоб заповнити фонову область, масштабуючись і не обрізаючись. Обчислюється у round round.
no-repeat	Зображення розміщується один раз і не повторюється. Обчислюється у no-repeat no-repeat.
initial	Встановлює значення властивості значення за замовчуванням.
inherit	Наслідує значення властивості від батьківського елемента.

4. Фіксація зображення: властивість background-attachment
scroll	Фонове зображення прокручується разом із текстом та іншим вмістом. Значення за замовчуванням.
fixed	Запобігає переміщенню, фіксує фонове зображення на задньому плані.
local	Фонове зображення прокручується разом із вмістом елемента.
initial	Встановлює значення властивості значення за замовчуванням.
inherit	Наслідує значення властивості від батьківського елемента.

5. Позиціонування зображень: властивість background-position
%	Горизонтальне зміщення обчислюється за формулою ширина розташування фону — ширина фонового зображення . Вертикальне зміщення за формулою высота области расположения фона - высота фонового изображения, де розмір зображення це розмір, заданий властивістю background-size. Значення за промовчанням 0% 0%.
довжина	Значення довжини дає фіксовану довжину як зміщення.
left	Обчислює до 0% для горизонтальної позиції, якщо задано одне або два значення, інакше зсув відбувається щодо лівого краю.
center	Обчислює left 50%для горизонтального положення, якщо не вказано інше горизонтальне положення, або як top 50%для вертикального положення, якщо воно задано.
right	Обчислює 100%для горизонтального положення, якщо задано одне або два значення, в іншому випадку зсув відбувається щодо правого краю.
top	Обчислює 0%для вертикальної позиції, якщо задано одне або два значення, в іншому випадку зсув відбувається відносно верхнього краю.
bottom	Обчислює 100%для вертикальної позиції, якщо задано одне або два значення, в іншому випадку зсув відбувається відносно нижнього краю.
initial	Встановлює значення властивості значення за замовчуванням.
inherit	Наслідує значення властивості від батьківського елемента.

6. Область малювання: властивість background-clip
border-box	Фон зафарбовує область у межах рамки елемента. Значення за замовчуванням.
padding-box	Фон зафарбовує область у межах внутрішніх полів елемента.
content-box	Фон зафарбовує лише область вмісту.
initial	Встановлює значення властивості значення за замовчуванням.
inherit	Наслідує значення властивості від батьківського елемента.

7. Область розташування фону: властивість background-origin
padding-box	Фон позиціонується щодо верхніх меж області внутрішніх полів елемента. Значення за замовчуванням.
border-box	Фон позиціонується щодо верхніх меж рамки елемента.
content-box	Фон позиціонується щодо верхніх меж області вмісту елемента.
initial	Встановлює значення властивості значення за замовчуванням.
inherit	Наслідує значення властивості від батьківського елемента.

8. Розмір зображень: властивість background-size
auto	Значення за замовчуванням. Висота та ширина зображення дорівнюють його оригінальним розмірам.
довжина	Розмір визначається парою значень, перше значення встановлює ширину зображення, друге — висоту. Щоб фон масштабувався разом із текстом, розміри зображення потрібно задавати в em.
%	Задає розмір фонового зображення у відсотках від ширини чи висоти елемента, що заповнюється тлом.
cover	Масштабує зображення зі збереженням пропорцій так, щоб його ширина або висота дорівнювала ширині або висоті блоку.
contain	Масштабує зображення зі збереженням пропорцій таким чином, щоб воно повністю помістилося всередині блоку.
initial	Встановлює значення властивості значення за замовчуванням.
inherit	Наслідує значення властивості від батьківського елемента.

*/
.lessons12 .background_blok_imag {
    width: 500px;
    height: 300px;
    background-image: url(../images/grunge-paint-background.webp), url('../images/icon2.png');
    background-size: 20%;
    /* background-repeat: unset; */
    /* background-position: bottom; */
    /* background-size: cover; */
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    /* background-clip: revert; */
    background-repeat: no-repeat;
    background-position: bottom right, center center, top left;
    background: linear-gradient(45deg, rgb(188 254 76 / 80%), rgba(34, 101, 163, .5)), url(../images/grunge-paint-background.webp);
}

.lessons12 .background_blok_imag.border {
    border: 13px solid #41ef73;
    margin: 15px;
    padding: 15px;
    margin: 65px;
    margin-left: 3px;


    margin: 15px 20px 60px 190px;
    /* margin: top right bootom left; */
    /* padding: top right bootom left; */


    margin: 15px 100px;
    /* margin: top - bootom right - left; */
    /* padding: top - bootom right - left; */
    margin: 15px 0px;
    margin: 0px 100px;

}

/*box-shadow*/
/*

x-offset	Задає горизонтальне усунення тіні. Позитивне значення малює тінь, зміщену вправо від тексту, негативна довжина - вліво.
y-offset	Задає вертикальне усунення тіні. Позитивне значення зміщує тінь донизу, негативне - вгору.
blur	Задає радіус розмиття. Негативні значення не допускаються. Якщо значення розмиття дорівнює нулю, край тіні чіткий. В іншому випадку, чим більше значення, тим більше розмитий край тіні.
розтягування	Задає відстань, яку тінь збільшується. Позитивні значення змушують тінь розширюватись у всіх напрямках на вказаний радіус. Негативні значення змушують тінь стискатися. Для внутрішніх тіней розширення тіні означає стиснення форми периметра тіні.
колір	Задає колір тіні. Якщо колір відсутній, колір, що використовується, береться з властивості color. Для Safari колір тіні обов'язково вказувати.
inset	Змінює тінь блоку, що відкидається, із зовнішньої тіні на внутрішню.
none	Значення за умовчанням означає відсутність тіні.
initial	Встановлює значення властивості значення за замовчуванням.
inherit	Наслідує значення властивості від батьківського елемента.
*/
.lessons12 .background_blok_imag.box-shadow {
    box-shadow: inset 16px 15px 19px rgb(63 63 63), 19px 12px 5px rgb(52 51 51);
    /* box-shadow: 0 14px 28px rgb(0 0 0 / 71%), 0 10px 10px rgb(0 0 0 / 61%); */
    margin-bottom: 150px;
    /* box-shadow: none; */
    /* box-shadow: inherit; */
    -webkit-box-shadow: 0px 162px 75px 18px rgba(235, 40, 235, 1);
    -moz-box-shadow: 0px 162px 75px 18px rgba(235, 40, 235, 1);
    box-shadow: 0px 162px 75px 18px rgba(235, 40, 235, 1);
}



/*content*/
/*
normal	Значення за умовчанням означає відсутність вмісту, що додається.
none	Не додає вмісту. Використовується у випадку, коли потрібно видалити вміст, що генерується, для одного елемента з групи елементів (наприклад, елементи списку), для яких вже задана ця властивість.
counter()	Дає можливість створювати лічильники, задаючи для них точку відліку та приріст на деяку величину за допомогою властивості counter-reset. Для прямого збільшення рахунку необхідно використовувати властивість counter-increment.
attr()	Додає до або після елемента значення атрибута, укладеного у дужки. Щоб вставити пробіл між основним вмістом і генерованим, потрібно додати пробіл перед дужкою або після неї, наприклад,content: attr( href);
" "	Текст, який додається на веб-сторінку, повинен бути укладений у подвійні чи одинарні лапки. Порожні лапки можна використовувати для додавання блокового вмісту.
open-quote	Додає до вмісту лапку, що відкриває.
close-quote	Додає до вмісту лапку, що закриває.
no-open-quote	Видаляє лапку, що відкриває, при цьому рівень їх вкладеності продовжує враховуватися.
no-close-quote	Видаляє лапку, що закриває.
url()	Додає медіа вміст, наприклад, зображення, звук, відео. Як атрибут у дужках вказується адреса зовнішнього ресурсу, який вставляється у вибране місце документа.
initial	Встановлює значення властивості значення за замовчуванням.
inherit	Наслідує значення властивості від батьківського елемента.
*/
.lessons12 .background_blok_imag.content {
    position: relative;
    background: transparent;
}

.lessons12 .background_blok_imag.content::after {
    content: "\2746";
    content: "\1F9E1";
    display: inline-block;
    font-size: 60px;
    color: #38afaa;
    position: absolute;
    bottom: 0;
    right: 0;
}

.lessons12 .background_blok_imag.content::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #3f51b5;
}

.lessons12 .background_blok_imag.content::before {
    content: none !important;
}


/*lessons14*/
/*CSS блокова модель*/
/*lessons14*/
/*CSS блокова модель*/
* {
    margin: 0;
    padding: 0;
}

.lessons14 {
    width: 100%;
    display: block;
    float: left;
}

.lessons14 .block_img {
    width: 50%;
    display: block;
    float: left;
}

.lessons14 .block_img img {
    width: 100%;
}

.lessons14 .block_1 {
    background: transparent;
    width: 50%;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
}

.lessons14 .block_1 .block_content {
    margin: 38px 32px;
    padding: 62px;
    background: #cddc39;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    border: 13px solid #ff7a02;
}

.lessons14 .block_1 h1 {
    font-size: 22px;
    font-weight: 600;
    color: #2196f3;
    margin: 0 0 8px;
}

.lessons14 .block_1 .desc {
    font-size: 14px;
    color: #000;
}

.lessons14 .block_1 .desc p {}


.lessons14 .block_2 {
    width: 100%;
    display: block;
    float: left;
    color: #000;
}

.lessons14 .block_2 p {
    width: 29.3333333333333%;
    display: block;
    float: left;
    margin: 0 2%;
}

.lessons14.not_float {
    width: 100%;
    display: block;
    /* float: none; */
    position: relative;
    margin: 0;
    padding: 0;
}

.lessons14 .block_3 {
    width: 800px;
    margin: 0 auto;
    background: #ffeb3b;
    color: #000;
    position: relative;
    height: 100%;
    display: block;
}

.lessons14 .block_3 .block_items {
    width: 100%;
    display: block;
    position: relative;
    float: left;
    background: #9c27b0;
}

.lessons14 .block_3 .block_item {
    display: block;
    width: 30%;
    float: left;
    height: 50px;
    background: #03a9f4;
}

.lessons14 .block_3 .block_item:nth-child(1) {
    background: #4caf50;
}

.lessons14 .block_3 .block_item:nth-child(2) {
    background: #795548;
    opacity: 0.8;
}

.lessons14 .block_3 .block_item:nth-child(3) {
    background: #ffeb3b;
}

footer {
    width: 100%;
    position: relative;
    display: block;
    float: left;
    background: #5e5e5e;
    margin: 70px 0 0 0;
}

footer .footer_content {
    width: 800px;
    max-width: 800px;
    margin: 0 auto;
}

footer .block_logo_menu {
    width: 100%;
    display: block;
    float: left;
    padding: 70px 0 20px 0;
}

footer .block_logo_menu .logo {
    width: 25%;
    display: block;
    float: left;
}

footer .block_logo_menu .logo img {
    width: 100%;
}

footer .block_menu {
    width: 75%;
    display: block;
    float: left;
    overflow: hidden;
}

footer .block_menu .menu_footer {
    width: 29.333%;
    display: block;
    float: left;
    position: relative;
    padding: 2%;
}

footer .block_menu .menu_footer .title {
    color: #fff;
}

footer .block_menu .menu_footer ul {
    list-style: none;
    color: #fff;
}

footer .block_menu .menu_footer ul li {}

footer .block_copy_right {
    width: 100%;
    color: #fff;
    font-size: 14px;
    text-align: right;
    border-top: 1px solid #fff;
    display: block;
    float: left;
    padding: 8px 0 70px 0;
}


.lessons16 .block_container {}

.lessons16 .block_container .block_img {
    background: #2196f3;
    height: 150px;
}

.lessons16 .block_container .block_desc {
    background: #ffeb3b;
    height: 50px;
}

.lessons18 {}

.lessons18 .spraite .icon {
    background:
        url("../images/sprite.jpg");
    border: 1px solid #000;
    width: 90px;
    height: 80px;
    display: inline-block;
}

.lessons18 .spraite .icon1 {
    background-position: -11px -13px;
}

.lessons18 .spraite .icon2 {
    background-position: -13px -96px;
}

.lessons18 .spraite .icon3 {
    background-position: -177px -13px;
}

.lessons18 .spraite .icon4 {}





.lessons18 .transform {}

.lessons18 .transform .block {
    height: 150px;
    width: 150px;
}

.lessons18 .transform .block1 {
    background: #3f51b5;
}

.lessons18 .transform .block1_t {
    background: #ffeb3b;
    transition: 1s;
    transition-timing-function: ease-out;
}

.lessons18 .transform .block1_t:hover {
    transform: rotate(45deg);
}

.lessons18 .transform .block2 {
    background: #4caf50;
    transition: 1s;
}

.lessons18 .transform .block2:hover {
    transform: translate(52px, 67px);
}

.lessons18 .transform .block3 {
    background: #ffc107;
    transition: 1s;
    transition-timing-function: ease-in-out;
}

.lessons18 .transform .block3:hover {
    transform: scale(1.5);
}

.lessons18 .transform .block4 {
    background: #ff5722;
    transition: 1s;
}

.lessons18 .transform .block4:hover {
    background: #cddc39;
    width: 220px;
    height: 220px;
    border-radius: 50%;
}

.lessons18 .transform .block5 {
    background-color: #e91e63;
    transition: 1s;
}

.lessons18 .transform .block5:hover {
    transform: skew(10deg, 10deg);
}

.lessons18 .transform .block6 {
    background-color: #00bcd4;
    transition: 1s;
}

.lessons18 .transform .block6:hover {
    transform: rotate(45deg) scale(1.5);
}

.lessons18 .transform .block7 {}


.lessons20 {
    position: relative;
}

.lessons20 .block_1 {}

.lessons20 .block_1.vq {
    width: 120px;
    height: 120px;
    background: #3f51b5;
    transition: 2s;
}

/*
Властивість transition-timing-functionвизначає криву швидкості ефекту переходу.

Властивість conversion-timing-function може мати такі значення:

ease- визначає ефект переходу з повільним початком, потім швидким і повільним завершенням (це типово)
linear- визначає ефект переходу з однаковою швидкістю від початку до кінця
ease-in- визначає ефект переходу з повільним стартом
ease-out- визначає ефект переходу з повільним кінцем
ease-in-out- визначає ефект переходу з повільним початком і закінченням
cubic-bezier(n,n,n,n)- дозволяє визначати власні значення у функції кубічного Безьє
*/
.lessons20 .block_1.vq:hover {
    background: #ffc107;
    width: 100%;
}

.lessons20 .block_2 {
    width: 200px;
    height: 200px;
    border: 2px solid #ff9800;
    animation-name: color;
    animation-duration: 6s;
    animation: color 6s infinite;
}

/* The animation code */
@keyframes color {
    0% {
        background: #4CAF50;
        border-radius: 0%;
    }

    20% {
        background: #00BCD4;
        border-radius: 10%;
    }

    40% {
        background: #FF5722;
        border-radius: 20%;
    }

    60% {
        background: #9E9E9E;
        border-radius: 30%;
    }

    80% {
        background: #FFEB3B;
        border-radius: 40%;
    }

    100% {
        background: #673AB7;
        border-radius: 50%;
    }
}

.lessons20 .block_3 {

    width: 400px;
    height: 400px;
    background-color: lightblue;
    left: 270px;
    position: absolute;
    top: 50px;
    -moz-border-radius: 200px;
    -webkit-border-radius: 200px;
    border-radius: 200px;

}

.rotate {
    width: 100%;
    height: 100%;
    -webkit-animation: circle 10s infinite linear;
}



@-webkit-keyframes circle {
    from {
        -webkit-transform: rotateZ(0deg)
    }

    to {
        -webkit-transform: rotateZ(360deg)
    }
}

@-webkit-keyframes ccircle {
    from {
        -webkit-transform: rotateZ(360deg)
    }

    to {
        -webkit-transform: rotateZ(0deg)
    }
}



.lessons20 .block_3 .block_3_block {
    /* width: 100px;
    height: 100px;
    border:1px solid #000; */
    width: 100px;
    height: 100px;
    -webkit-animation: ccircle 10s infinite linear;
    position: absolute;
}

.lessons20 .block_3 .block_3_block:hover {
    background: #0d8cf1;
    border-radius: 50px;
    height: 100px;
    width: fit-content;
    padding: 8px 16px;
}

.lessons20 .block_3 .block_3_block .img {
    background: url(../images/sprite.jpg);
    width: 80px;
    height: 80px;
    float: left;
}

.lessons20 .block_3 .block_3_block:nth-child(1) .img {
    background-position: -12px -12px;
}

.lessons20 .block_3 .block_3_block:nth-child(2) .img {
    background-position: -176px -12px;
}

.lessons20 .block_3 .block_3_block:nth-child(3) .img {
    background-position: -12px -96px;
}

.lessons20 .block_3 .block_3_block:nth-child(4) .img {
    background-position: -12px -260px;
}

.lessons20 .block_3 .block_3_block:nth-child(5) .img {
    background-position: -261px -12px;
}


.lessons20 .block_3 .block_3_block:nth-child(1) {
    background-position: -12px -12px;
    top: -3%;
    left: 62%;
}

.lessons20 .block_3 .block_3_block:nth-child(2) {
    background-position: -176px -12px;
    top: 23%;
    left: 85%;
}

.lessons20 .block_3 .block_3_block:nth-child(3) {
    background-position: -12px -96px;
    top: 56%;
    left: 88%;
}

.lessons20 .block_3 .block_3_block:nth-child(4) {
    background-position: -12px -260px;
    top: 36%;
    left: -11%;
}

.lessons20 .block_3 .block_3_block:nth-child(5) {
    background-position: -261px -12px;
    top: 4%;
    left: 7%;
}


.lessons20 .block_3 .block_3_block:hover img {}

.lessons20 .block_3 .block_3_block .img img {
    display: none;
}

.lessons20 .block_3 .block_3_block .desc {
    display: none;
}

.lessons20 .block_3 .block_3_block:hover .desc {
    display: block;
    float: left;
    width: auto;
    font-size: 15px;
    font-weight: 800;
    margin-left: 23px;
    line-height: 78px;
    margin-right: 22px;
    /* width: 200px;
	height: 200px;
	background: red;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 100px;
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: red;
    display: block; */
}

.container_my {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
}

.container_f_my {
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
}

.container_my .row_my {}

.container_my .row_my .col-md-6-my {
    width: 50%;
    float: left;
    position: relative;
    display: block;
    background: #2196f3;
    padding: 50px;
    margin: 0;
}


.container_my {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
}

.container_f_my {
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
}

.container_my .row_my {
    display: flex;
}

.container_my .row_my .col-md-6-my {
    width: 50%;
    float: left;
    position: relative;
    display: block;
    background: #2196f3;
    padding: 50px;
    margin: 0;
}

.lessons22_2 .flex-container {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.lessons22_2 .flex-container .block {
    background: #ffeb3b;
    width: 96px;
}

.lessons22_2 .inline-flex-container {
    display: inline-flex;
}

.lessons22_2 .inline-flex-container .block {
    width: 82px;
}

.lessons22_2 .inline-container {
    display: inline-block;
    margin: 0 auto;
}

.lessons22_2 .inline-container .block {
    background: #2196f3;
    display: inline-block;
    display: inline;
}

.lessons22_2 .block-container {
    display: block;
    margin: 0 auto;
}

.lessons22_2 .block-container .block {
    background: #cddc39;
    /* float: left; */
    float: right;
}

.lessons22_2 .block {
    width: 128px;
    height: 64px;
    margin: 8px;
    background: #ff9800;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lessons24 {}

.lessons24 .flex-container {
    display: flex;
    border: 1px solid #ccc;
    margin: 0;
}

.lessons24 .flex-container .flex-item {
    color: #fff;
    font-size: 16px;
    padding: 50px;

}

.row {
    flex-direction: row;
}

.row-reverse {
    flex-direction: row-reverse;
}

.colum {
    flex-direction: column;
}

.colum-reverse {
    flex-direction: column-reverse;
}

.flex-end {
    justify-content: flex-end;
}

.center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.ai-center {
    align-items: center;
}

.ai-flex-star {
    align-items: flex-start;
}

.ai-flex-end {
    align-items: flex-end;
}

.color1 {
    background-color: #675ba7;
}

.color2 {
    background-color: #9bc850;
}

.color3 {
    background-color: #a62e5c;
}

.jc-ai {
    height: 500px;
    justify-content: space-between;
    align-items: stretch;
}

.jc-ai .item_1 {
    align-self: center;
}

.jc-ai .item_2 {
    align-self: flex-start;
}

.jc-ai .item_3 {
    align-self: self-end;
}

.jc-ai .item_4 {
    align-self: center;
}

.jc-ai .item_5 {}

.jc-ai .item_6 {}

.flex-wrap {
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    height: 500px;
}

.item1 {
    background-color: #675ba7;
}

.item2 {
    background-color: #9bc850;
}

.item3 {
    background-color: #a62e5c;
}

.item4 {
    background-color: #2a9fbc;
}

.item5 {
    background-color: #f15b2a;
}

.flex-container-media {
    display: flex;
    border: 1px solid #ccc;
    margin: 0;
}

.flex-container-media .item-flex-1 {
    background-color: #455a64;
    color: #fff;
    font-size: 1.1em;
    padding: 1em;
    flex: 1;
}

.flex-container-media .item-flex-2 {
    background-color: #455a64;
    color: #fff;
    font-size: 1.1em;
    padding: 1em;
    flex: 2;
}

.flex-container-media .item-flex-3 {
    background-color: #455a64;
    color: #fff;
    font-size: 1.1em;
    padding: 1em;
    flex: 0 0 50%;
}

@media (max-width:800px) {
    .flex-container-media {
        flex-wrap: wrap;
    }

    .flex-container-media .item-flex-1 {
        background-color: #f15b2a;
        flex: 1;
    }

    .flex-container-media .item-flex-2 {
        background-color: #f15b2a;
        flex: 1;
    }

    .flex-container-media .item-flex-3 {
        background-color: #f15b2a;
        flex: 1;
    }
}

.lessons26 {}

.lessons26 .grid-container {
    display: grid;
    border: 2px solid #000;
    grid-template-columns: 50px 25% 20rem;
    grid-template-rows: 70px 120px;
}

.lessons26 .grid-container-fr {
    display: grid;
    grid-template-columns: 40% 150px 1.5fr;
    grid-template-rows: 1fr 200px 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 8px;
    grid-gap: 15px;
}

.lessons26 .grid-container .grid-item {
    text-align: center;
    font-size: 18px;
    padding: 16px 0;
    color: #fff;
}

.lessons26 .grid-container-auto {
    display: grid;
    /* grid-template-columns: 150px auto; */
    /* grid-template-columns: auto 1fr; */
    /* grid-template-columns: fit-content(150%) fit-content(100%); */
    grid-template-rows: repeat(3, 150px);
    margin-bottom: 150px;
}

.lessons26 .color1 {
    background-color: #ffeb3b;
}

.lessons26 .color2 {
    background-color: #8bc34a;
}

.lessons26 .color3 {
    background-color: #03a9f4;
}

.lessons26 .color4 {
    background-color: #673ab7;
}

.lessons26 .color5 {
    background-color: #9c27b0;
}

.grid-container-position {

    display: grid;

    grid-template-columns: repeat(4, 1fr);

    grid-template-rows: repeat(2, 150px);
}

.grid-container-position .grid-item {
    border: 1px solid #ff9800;
}

.lessons26 .grid-container-position .color1 {
    background-color: #ffeb3b;
}

.lessons26 .grid-container-position .color2 {
    background-color: #8bc34a;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-column: 2 / 5;
}

.lessons26 .grid-container-position .color3 {
    background-color: #03a9f4;
    /* grid-column: 2 / span 2; */
}

.lessons26 .grid-container-position .color4 {
    background-color: #673ab7;
    grid-column-start: 3;
    grid-column-end: 5;
}

.lessons26 .grid-container-position .color5 {
    background-color: #9c27b0;
    grid-row-start: 2;
    /* grid-row-end: 3; */
    grid-column-start: 2;
    /* grid-column-end: 3; */
    grid-column: 2;
    grid-row: 2;
}




.lessons28 {}

.lessons28 .grid-container-position {
    display: grid;
    border: 2px solid #000;
    grid-template-columns: repeat(3, 150px);
    grid-auto-rows: 150px;
}


.lessons28 .color1 {
    background-color: #ffeb3b;
}

.lessons28 .color2 {
    background-color: #8bc34a;
}

.lessons28 .color3 {
    background-color: #03a9f4;
}

.lessons28 .color4 {
    background-color: #673ab7;
}

.lessons28 .color5 {
    background-color: #9c27b0;
}

.lessons28 .grid-container-position {
    display: grid;
    border: 2px solid #000;
    grid-template-columns: repeat(3, 150px);
    grid-auto-rows: 150px;
}


.lessons28 .color1 {
    background-color: #ffeb3b;
}

.lessons28 .color2 {
    background-color: #8bc34a;
}

.lessons28 .color3 {
    background-color: #03a9f4;
}

.lessons28 .color4 {
    background-color: #673ab7;
}

.lessons28 .color5 {
    background-color: #9c27b0;
}


.lessons28 .grid-container-position .color1 {}

.lessons28 .grid-container-position .color2 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 5;
    grid-area: 1 / 2 / 5 / 4;
}

.lessons28 .grid-container-position .color3 {}

.lessons28 .grid-container-position .color4 {}

.lessons28 .grid-container-position .color5 {}



.lessons28 .grid-container-imposition {
    display: grid;
    border: 2px solid #000;
    grid-template-columns: repeat(3, 150px);
    grid-auto-rows: 150px;
    grid-gap: 16px;
}

.lessons28 .grid-container-imposition .color1 {
    grid-area: 1 / 1 / 3 / 4;
    opacity: 0.8;
}

.lessons28 .grid-container-imposition .color2 {
    grid-area: 1 / 1 / 2 / 2;
}

.lessons28 .grid-container-imposition .color3 {
    grid-area: 1 / 3 / 2 / 4;
    z-index: 1;
}

.lessons28 .grid-container-imposition .color4 {
    grid-area: 2 / 1 / 3 /2;
    /* z-index: 1; */
}

.lessons28 .grid-container-imposition .color5 {
    grid-area: 2 / 3 / 3 / 4;
    /* z-index: 1; */
}

.lessons28 .grid-container-flow {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 200px);
    grid-auto-flow: column;
}

.lessons28 .grid-container-flow .color5 {
    order: 1;
}

.lessons28 .grid-container-flow .color2 {
    order: 2;
}



.grid-container-grod-line-name {
    display: grid;
    grid-template-columns: [col1start] 150px [col1end] 1fr [col2start] 150px [col2end];
    grid-template-rows: [row1start] 1fr [row1end] 43vh[row2start] 1fr [row2end];
    /* display: flex; */
    /* flex-direction: column-reverse; */
}

.lessons28 .grid-container-grod-line-name .color1 {
    grid-column: col1start / col2end;
}

.lessons28 .grid-container-grod-line-name .color2 {
    /* grid-column: col1start / col2end; */
}

.lessons28 .grid-container-grod-line-name .color3 {}

.lessons28 .grid-container-grod-line-name.color4 {}

.lessons28 .grid-container-grod-line-name .color5 {
    grid-column: col1start / col2end;
}


.my_class_127 {
    display: grid;
    grid-template-areas:
        'header header header header header'
        '. . . . .'
        'menu . content . sidebar'
        '. . . . .'
        'footer footer footer footer footer';
    grid-template-columns: 200px 8px 1fr 8px 130px;
    grid-template-rows: 130px 32px 500px 32px 150px;
    /* height: 50vh; */
}

.lessons28 .my_class_127 .color1 {
    grid-area: header;
}

.lessons28 .my_class_127 .color2 {
    grid-area: menu;
}

.lessons28 .my_class_127 .color3 {
    grid-area: sidebar;
}

.lessons28 .my_class_127 .color4 {
    grid-area: content;
}

.lessons28 .my_class_127 .color5 {
    grid-area: footer;
}